
// @ >> DIRECTIVES >>giving instructions to html

@import "./abstract/var";
@import "./abstract/functions";
@import "./abstract/mixins";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utility";

@import "./components/blogcards";
@import "./components/buttons";
@import "./components/form";
@import "./components/composition";
@import "./components/feature-card";

@import "./pages/about";
@import "./pages/blogs";
@import "./pages/contact";
@import "./pages/home";
@import "./pages/services";

@import "./layouts/grid";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/navigation";               