

.story{
    width: 75%;
    margin: 0 auto;

    &-shape{
        width: 15rem;
        height: 15rem;
        float: left;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}