
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%; // >> 10px > 1rem

    @include response(tabPort){
        font-size: 56%;
    }

    @include response(tabLand){
        font-size: 56%;
    }

    @include response(phone){
        font-size: 50%; 
    }
}

::selection{
    background-color: $color-primary-dark;
    color: $color-white
}

body{
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
    font-family: 'Asap', sans-serif;
    font-family: 'Lato', sans-serif;
    color: $color-grey-dark;

    @include response(phone){
        padding: 0; 
    }
}