@mixin atCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin lg($direction, $colors...){
    background-image: linear-gradient($direction, $colors);
}


@mixin backgroundClip{
     background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

// @mixin responsive-phone{
//     @media (max-width: 600px){
//         @content;
//     }
// }

// @mixin responsive-tabPort{
//     @media (max-width: 900px){
//         @content;
//     }
// }

// @mixin responsive-tabLand{
//     @media (max-width: 120px){
//         @content;
//     }
// }

@mixin response($breakpoint){
    @if $breakpoint == phone{
        @media (max-width : 600px){
            @content;
        }
    }

    @if $breakpoint == tabPort{
        @media (max-width: 900px){
            @content;
        }
    }

    @if $breakpoint == tabLand{
        @media (max-width: 1200px){
            @content;
        }
    }
}