
.container{
    max-width: 1140px;  // for larger screens whose width is greater than 1140px
    width: 100%;  // for smaller screens whose width is <= 1140px
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child){
        margin-bottom: 8rem;
    } 
}

[class ^= "col-"]{
    padding: 0 1.5rem;
}

.col-3{
    width: (100% * 3 / 12);
    flex: 0 0 calc(100% * 3 / 12);
}

.col-4{
    width: (100% * 4 / 12);
    flex: 0 0 calc(100% * 4 / 12);
}

.col-6{
    width: (100% * 6 / 12);
    flex: 0 0 calc(100% * 6 / 12);
}

.col-9{
    width: (100% * 9 / 12);
    flex: 0 0 calc(100% * 9 / 12);
}

.col-12{
    width: 100%;
    flex: 0 0 100%;
}