.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, $color-primary-light-op, $color-primary-dark-op), url(../images/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // clip-path: polygon(x y, x y, x y, x y);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    @include atCenter;
    position: relative;
    &-primary{ // .header-primary
        color:  $color-white;
        text-transform: uppercase;
        margin-bottom: 5rem;

        &-main{  // .header-primary-main
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.3rem;
            animation: moveInLeft 1s ease-in-out ;
        }
        &-sub{
            display: block;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1.6rem;
            animation: moneInRight 1s ease-in-out;

        }
    }

    .logo{
        position: absolute;
        width: 4rem;
        height: 4rem;
        top: 4rem;
        left: 4rem;
        img{
            height: 100%;
        }
    }
}

