


.section-about{
    padding: 25rem 0;
    background-color: $color-grey-light-1;
    margin-top: -20rem;
    // transform: translateY(-20rem);
    // position: relative;
    // z-index: -1; 

    @include response(tabLand){
        .col-3{
            flex: 0 0 50%;
            width: 50%;
            margin-bottom: 2rem;
        }
    }

    @include response(phone){
        padding: 25rem 0 33rem;
        .col-6{
            flex: 0 0 100%;
            width: 100%;
            margin-bottom: 6rem; 
        }
    }
}   

.section-feature{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(../images/nat-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transform: skewY(-7deg);
    margin-top: -10rem;

    > *{
        transform: skewY(7deg);
    }

    @include response(phone){
        margin-top: -4rem;

        .col-3{
            flex: 0 0 100%;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}     

.section-tours{
    padding: 25rem 0 15rem;
    background-color: $color-grey-light-1;
    margin-top: -10rem;

    @include response(tabLand){
        .col-4{
            flex: 0 0 100%;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}

.section-stories{
    padding: 15rem 0;
    position: relative;
}

.section-books{
    padding: 15rem 0;
    @include lg(to right bottom, $color-primary-light, $color-primary-dark)
}